fieldset {
	margin-bottom: 15px;
	padding: 10px;
}

legend {
	padding: 0px 3px;
	font-weight: bold;
}

label {
	width: 110px;
	display: inline-block;
	vertical-align: top;
	margin: 6px;
}

select {
	width: 254px;
}

.matbtf {
	display: inline-block;
	vertical-align: top;
}